@media only screen and (max-width: 768px){
    .auth-code-section{
        width: 100%;
    }
    .auth-code-instructions{
        width: 100%;
    }
    .product-image{
        width: 90%;
        text-align: center;
    }
    .verified-details{
        width: 100%;
        padding: 5%;
        padding-top: 0;
    }
    .invalid-img{
        width: 100%;
        text-align: center;
    }
    .verify-btn-section{
        text-align: center;
    }
    .invalid-message{
        text-align: center;
        font-size: 24px;
    }
    .bg-image{
        background-image: linear-gradient(325deg, black, #171717);
    }
}